<div class="sx_dhk" data-type="talk-message-form" data-session-id="<%= @session.id %>" class="rtext_editor">
  <div class="main_dhk">
    <div class="dhk_zs f12 remain_counter">还可以输入<span>140</span>个字</div>
    <div class="dhk">
      <div class="phone left" data-type="audio-button"><a href="javascript:void(0);"></a></div>
      <div class="txt left"><textarea class="texter"></textarea></div>
    </div>
    <div class="dhk_gn f12 toolbar">
      <a class="btn btn-danger bn submiter" href="javascript:void(0);">发 布</a>
     </div>
  </div>
</div>
