<div id="proposal_editor" class="adv">
	<form id="peForm" action="<%= proposal_suggests_path%>" method="post">
	<input id="audioId" type="hidden" name="audioId"  value="" />
	<input id="pictureId" type="hidden" name="pictureId"  value="" />
	<input id="attachmentId" type="hidden" name="attachmentId"  value="" />
	<div class="adv_t"></div>
    <div class="adv_dhk">
      	<div class="fw_dk blue_82">请将您的建议告诉我们吧</div>
      	<div class="fw_dk"><input id="title" name="title" type="text" placeholder="请输入标题" /></div>
      	<div class="fw_dk"><textarea id="content" maxlength="140" name="content" class="texter" cols="" rows="" placeholder="请输入建议内容"></textarea></div>
        <div class="gray_9b adv_say f12 toolbar" style="width:585px; padding-left:20px;">
        <a href="javascript:void(0)" class="btn submiter"> 提交问题 </a><span class="right" style="padding-right:10px;"><label><input name="realname" type="checkbox" value="0">匿名</label></span></div>
    </div>
    <div class="adv_t adv_d"></div>
	</form> 
</div>
