(function($, undefined) {
	
    var _CommentsList = '<div class="comm_list blue_a_82">' +
    	'<div class="comm_list_nr">'+
         '<a href="users/${commenter.id}" >${commenter.nickname}</a>: '+
        '{{each rtext}}' +
          '{{tmpl($value) "rtext." + $value.type}}' +
        '{{/each}}'+
        '{{if audio}}'+
        	'<div class="audio" data-src="${audio.url}" data-duration="${duration}" >audio</div>'+
		'{{/if}}' +
		'</div>' +	
		'<div class="comm_list_xx f12">'+
					'<span class="left"><abbr class="timeago" title="${created_at}">${created_at}</abbr></span>'+
					'{{if commenter.id == $CURRENT_USER.id}}'+
						'<span class="right"><a href="javascript:void(0)" comment-id="${id}" data-action="del">删除</a></span>{{/if}}'+
								
	      	'</div>';
	      '</div>';

    jQuery.template("CommentsList", _CommentsList);

  	function _rendererCommentsList(comment, options) {
    	return jQuery.tmpl("CommentsList", comment, options);
  	}

  // 评论列表
	
	$.widget("pro.suggest",{
		
		options: {
			
		},
		_create: function(){
			var self = this;
			$(this.element).audiopic();
			  // 评论编辑器
      	this._commenter = $('<div />').proembedCommenter({
      		suggestId: self._suggestId(),
        	success: function(event, objs) {// 追加评论
          		self.prepend(objs.comment.data, "slow");
         	// $("a[data-action=comment]", self.element).text(""+objs.comment.comments_count+"")
        	}
      	});
      	this._contentList = $('<div class="s-comments"></div>');
      	$("div[data-name=comments]", this.element).append(self._commenter.append(self._contentList).append('<div class="pg comm_list_nr trt f12"></div>'));
      	
      	self._commentList(0);
		},
		
		_suggestId: function(){
			return this.element.attr("data-id");
		},
		
  	_commentList: function(pageIndex) {
 			var self = this;
 			// require tweetId
	    if (!self._suggestId) {
      		$.error("Parameter 'suggestId' required!");
    		}
 			self._comments(self._suggestId(),pageIndex, {
   			success:function(comments) {
          	if (comments.data.length != 0) {
        		//	$(".lk", self.element).slideUp("fast",function(){
        				$(".comm_list", self.element).remove();
        		//	})
	            $.each(comments.data, function(i, comment) {
	              $(".s-comments",self.element).append(jQuery.tmpl("CommentsList", comment));
	            });
	            $(".timeago",self.element).timeago(); 
   					//渲染录音　
			    AudioPlayer.render($(".audio",$(".s-comments",self.element)));
				
					  self._delComment();
					  //加载分页
					  $(".pg-num", self.element).remove();
					  self._pageSelector(pageIndex, comments.ccounts);
				  } else {
					  $(".pg", self.element).remove();
					  $(".s-comments",self.element).append('<div class="blue_a_82" style="padding:10px;">赶紧发表你的评论吧~~</div>')
				  };
   				$(".loading", self.element).hide();
   			},
   			error: App.error.XHRErrorHandler("加载评论失败！")
 			})
 		},

	 // 获取评论
	 	_comments: function(suggest_id, pageNum, options) {
			var _args = options || {};
			_args["type"] = "GET";
			_args["cache"] = true;
			_args["dataType"] = "json";
	  
	  		$.ajax("/proposal/comments/" + suggest_id + ".json?page="+pageNum, _args);
		},

		//分页列表  样式写的太蛋疼了，暂未实现。
   		_pageSelector: function(pageIndex, pageNum) {
      		//分页
      		var that = this;		
    		var cnums = parseInt(pageNum)
    		pageIndex = parseInt(pageIndex)
    		that._updateCounts(pageNum);
    	
			if (cnums>5) {
			
				if(cnums%5 == 0) {
					pnums = cnums/5;
				} else {
					pnums = cnums/5 + 1;
				};
			
				pnums = parseInt(pnums);
				
			//	prePage = pageIndex==0 ? pageIndex+2 : pageIndex+1; 
				//前一页
				if(pageIndex > 1) {
					$(".pg", that.element).append('<a href="javascript:void(0)" page-num="'
															+(pageIndex-1)+'" class="pg-num">上一页</a>');
					$(".pre-none", that.element).remove();									
				} else if(pageIndex!=1){
					$(".pg", that.element).append('<a href="javascript:void(0);" class="pre-none">上一页</a>');
				};
				
//				if(pageIndex==0){
//					$(".pg", that.element)
//						.append('<a href="javascript:void(0)" page-num="1" class="active first">1</a>');
//				}
				if(pnums >=1500){
					perNum = pnums-5
				  cpage = pageIndex>=perNum ? 5:(pageIndex+5)
			    ipage = pageIndex==0 ? 1: pageIndex
					//if(ipage !=1){
						for(i=ipage;i<=cpage;i++) {
							var p = '<a href="javascript:void(0)" page-num="'+i+'"'+
											' class="pg-num">'+i+'</a>';
							$(".pg", that.element).append(p);
						};
					//}
				if(((cpage+1)!=perNum)==true){
				  var p = '<a href="javascript:void(0)" class="pg-num">...</a>';
					$(".pg", that.element).append(p);
				}
					for(i=perNum;i<=pnums;i++) {
						var p = '<a href="javascript:void(0)" page-num="'+i+'"'+
										' class="pg-num">'+i+'</a>';
						$(".pg", that.element).append(p);
					};
					
				} else {
					for(i=1;i<=pnums;i++) {
						var p = '<a href="javascript:void(0)" page-num="'+i+'"'+
										' class="pg-num">'+i+'</a>';
						$(".pg", that.element).append(p);
					};
					$("a[page-num=1]", that.element).addClass("active");
				}
				
				//下一页
				nextPage = pageIndex==0 ? pageIndex+2 : pageIndex+1; 
				if(nextPage <= pnums) {
					$(".pg", that.element).append('<a href="javascript:void(0)" page-num="'+nextPage+'" class="pg-num">下一页</a>');
					$(".next-none", that.element).remove();
				} else {
					$(".pg", that.element).append('<a href="javascript:void(0);" class="next-none">下一页</a>');
				};
				
				if(pageIndex >1) {			
					$(".pg-num", self.element).removeClass("active");
				};
				$("a[page-num="+pageIndex+"]", that.element).addClass("active");
				
				//绑定分页按钮
				$(".pg-num", that.element).click(function(){
					$(".loading", that.element).show();
					var _num = $(this).attr("page-num");
					that._commentList(_num);
				});	
				
			} else {
				$(".pg", that.element).remove();
			}   	
   		},
   		
   		_updateCounts: function(count) {
   			$("a[data-action=comment]", this.element).text(""+count+"");   
   		},
   		
   		_delComment: function(commentId){
			var elem;
			var that = this;
			if (commentId!=null){
				elem = $("a[data-action=del"+commentId+"]")						
			} else {
				elem = $("a[data-action=del]", that.element)
			}
			
			elem.click(function(){
				var _self = this;
				var id = $(this).attr("comment-id");
				$.confirm("你确认要删除此评论吗?",function(ctrue){
					if(ctrue){
						$.ajax({
							type: "DELETE",
							url: "/proposal/comments/"+id+".json",
							dataType: "json",
							success: function(msg){
								$(_self).parent().parent().parent().slideUp('fast',function(){
									$(this).remove();
								});
								
								that._updateCounts(msg.comment_counts);
							 },
							error: function() {
								$.alert("出错了", 2);
							}
						 });
					}									
				});
			});    
    	},
    
    	prepend: function(comment, during){
			var _commentView = _rendererCommentsList(comment);
			AudioPlayer.render($(".audio",_commentView));
			
      		this._addCommentView(_commentView, function(commentView) {
        		this._contentList.prepend(commentView);
      		}, during);
      		return this;
		},
		_addCommentView: function(commentView, addStrategy, during) {
	      	addStrategy.apply(this, [commentView]);
	      
	      	if(during) {
	        	commentView.hide(0, function() {
	          		commentView.slideDown(during);
	        	});
	      	} else {
	        	commentView.show(0);
	      	}
    	}
		 
	}); 
	
	
	$.widget("pro.proCommentEditor", $.rtext.rtextEditor, {
		options: {
			suggestId: null,
			placeHolder: "请在这里输入您的评论",
      		tools: ["emotion","audio"],
	      	preset: "",
	      	allowBlank: false,
	      	textMaxLength: <%= Tweet::TEXT_MAXLEN %>
		},
		_create: function(){
			var self = this;
			this._contentList = $('<div/>');
			$.rtext.rtextEditor.prototype._create.call(this);
      		this.option("submit", $.proxy(this._submit, this));
		},
		
		_commentEditor: function(){
			
		},
		
		_submit: function(text, done){
			var self = this;
			
			if(!self.options.suggestId){
				$.error("Parameter 'suggestId' required!");
			}
			
			 WEIBO.commentSuggest(text, {
			 	suggestId:self.options.suggestId,
	      		audio:self._audio,
	        	success: function(comment) {
	          		self.reset();
	          		self._trigger("success", null, {comment: comment});
	        	},
	        	error: App.error.XHRErrorHandler("提交建议失败！"),
	       		complete: $.proxy(done, this)
	      	});
      
		}
		
		
	}); 
	
	
	
	
	// 评论编辑器
  $.widget("pro.proembedCommenter", {
    options: {
    	suggestId:null
    },
    _create: function() {
      var self = this;
      var _editorTmpl = '<div class="comm_form">' +
        '<div class="comm_tips">' +
          '<span class="remain_counter"></span>' +
        '</div>' +
        '<div class="comm_ip">' +
          '<textarea class="texter" ></textarea>' +
        '</div>' +
        '<div class="gray_9b adv_say adv_say1 f12 toolbar">' +
          '<a href="javascript:void(0)" class="btn f14 submiter">评论</a>' +
        '</div>' +
      '</div>';
      
      // 创建编辑器
      this._commentEditor = $(_editorTmpl).proCommentEditor(this.options).appendTo(this.element);
       $(".chackTextarea", this._commentEditor).autoTextarea({
            maxHeight:180,
            minHeight:20
       });
       
       
    },
    
    editor: function() {
      return this._commentEditor;
    },
   
    
    _setOptions: function(options) {
      var opt = options;
      $.Widget.prototype._setOptions.call(this, options);
      // 设置 editor 的 属性
      this._commentEditor.proCommentEditor("option", options);
    }
    
    
  });
	
})(jQuery);
