<ul class="nav nav-tabs">
 	<li><a href="<%= admin_knowledge_types_path%>"><i class="icon-list"></i>类型列表</a></li>
 	<li class="active"><a href="<%= new_admin_knowledge_type_path%>"><i class="icon-plus"></i>新建类型</a></li>
</ul>

<%= render "form"%>