<div id="foot">
  <div class="container">
    <div class="row">
      <a href="#">免责声明</a>&nbsp;｜&nbsp;
      <a href="#">关于我们</a>&nbsp;｜&nbsp;
      <a href="#">联系我们</a>&nbsp;｜&nbsp;
      <a href="#">网站帮助</a><br />
      <small>Copyright &copy;2002-2013 www.vqiji.com All Rights Reserved</small>
    </div>
  </div>
</div>
