<form action="<%= search_admin_departments_path %>" method="get" class="form-inline" style="margin:0px;margin-left:30px;" >
      <input type="text" name="key" class="input-medium search-query"  placeholder="搜索部门名称">
      <button type="submit" class="btn"><i class="icon-search"></i>搜索</button>
</form>