<% unless current_user.is_expert %>
<div class="bk" node-type="KnowledgesWidget">
	<div class="bk_t mr_t2">
  	<a href="<%= knowledge_knowledges_path %>" class="a_link" title="知识库" data-skip-pjax></a>
	</div>
	<div class="bk_c">
		<div class="mr_lb mr_lb1 f12">
			<ul></ul>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="bk_t bk_d"></div>
</div>

<script>
(function($) {
	WEIBO.knowledgesWidget({
		size: 4,
		success: function(data) {
			if(data.length == 0){
				$('ul', '[node-type=KnowledgesWidget]').html('<li>知识库还没有发表文章.</li>');
				return false;
			}
			var _tmpl = '<li><a href="/knowledges/${_id}" data-skip-pjax>${title}</a></li>';
			$.template( "knowledgeTemplate", _tmpl );
    		$.tmpl( "knowledgeTemplate", data ).appendTo( $('ul', '[node-type=KnowledgesWidget]') );
    	},
    	error: App.error.XHRErrorHandler("初始化插件'知识库'失败！")
	});
})( jQuery );

</script>
<% end %>
