<% provide(:title, '@我的评论') %>

<div class="bk">
	<div class="bk_t"></div>
	<div class="bk_c">
		<div class="tab">
			<%= link_to '@我的微博', my_mention_tweets_path %>
			<%= link_to '@我的评论', my_mention_comments_path, :class=>"qb on" %>
		</div>

	  <div data-type="comment-list">
    	<% if @comments.any? %>
    	  <div data-role="comment-items">
		      <%= render :collection => @comments, :partial => '/tweets/comment' %>
		    </div>
        <div class="lb text-center">
          <%= will_paginate @comment %>
        </div>
		  <% else %>
		    <div class="empty"><span>没有收到评论哦～</span></div>
		  <% end %>
		  <div class="clearfix"></div>
		</div>
  </div>
	<div class="bk_t bk_d"></div>
</div>

<script type="text/javascript">
	$("div[data-type=comment-list]").commentList({
    commentOptions: {
      replayModal: true
    }
  });
</script>
