<div class="main_dhk" data-type="tweet-editor">
  <div class="dhk_zs f12 remain_counter"></div>
  <div class="dhk">
    <div class="phone left" data-type="audio-button"><a href="javascript:void(0);">30</a></div>
    <div class="txt left"><textarea class="texter"></textarea></div>
  </div>
  <div class="dhk_gn f12 toolbar" data-type="toolbar">
    <a class="btn btn-danger bn submiter" href="javascript:void(0);">发 布</a>
    <a class="send_to" data-action="send_to" >分发</a>
  </div>
</div>
