<% provide :title, '新建工作组' %>

<div class="bk">
  <div class="bk_t"></div>
  <div class="bk_c">
    <div class="gz_t f18"><span>新建工作组</span></div>
    <div class="tab"><a class="qb on" href="javascript:void(0);">基本信息</a></div>
    <div class="gz_tab">
      <%= render 'form' %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="bk_t bk_d"></div>
</div>
