<div class="nav_lb">专属咨询</div>
<div class="nav_lb <%= (params[:controller] == "advisory/experts" && params[:action] == "solved") || (params[:controller] == "advisory/questions" && params[:qtype] == "e_solved") ? "nav_on" : ""%>"><%= link_to "已解决问题", solved_advisory_experts_path, :class => "ic_yjj"%></div>
<div class="nav_lb <%= (params[:controller] == "advisory/experts" && params[:action] == "unsolved") || (params[:controller] == "advisory/questions" && params[:qtype] == "e_unsolved") ? "nav_on" : ""%>"><%= link_to "未解决问题", unsolved_advisory_experts_path, :class=>"ic_wjj"%></div>
