<div class="attachment picture" data-role="rtext-attachment" data-type="picture" data-url ="<%= picture.url %>">
  <%= image_tag picture.file.thumb.url, :class => 'thumb', 'data-name' => 'thumb' %>
</div>
