<div class="modal" style="display:; width:500px;display:none;">
  <div class="modal-header" style="background-color:#9aceff;">
    <a class="close" data-dismiss="modal"></a>
    <div class="model_tabs">
    </div>
  </div>
  <div class="modal-body">
    <%= render 'meeting/meetings/form', :meeting => Meeting::Meeting.new %>
  </div>
</div>