<% provide(:title, '新建会议') %>
<div class="bk">
  <div class="bk_t"></div>
  <div class="bk_c">
    <div class="rw_xjt f18">新建会议<a href="javascript:window.history.back();"></a></div>
    <div class="rw_xj" id="todo_task_editor">
      <%= render "form" %>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="bk_t bk_d"></div>
</div>
<script>
</script>
