<% provide(:title, '新建日志') %>
<div class="bk">
<div class="bk_t"></div>
<div class="bk_c">
<div class="gz_t f18"><span>任务中心</span></div>
<div class="tab">

</div>
<div class="gz_tab">
<%= render "form" %>
</div>
<div class="clearfix"></div>
</div>
<div class="bk_t bk_d"></div>
</div>

