<% provide(:title, '修改任务') -%>
<div class="bk">
	<div class="bk_t"></div>
	<div class="bk_c">
		<div class="rw_xjt f18">修改任务<a href="javascript:window.history.back();"></a></div>
		<div class="rw_xj" id="todo_task_editor">
			<%= render 'form.edit', :task => @task %>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="bk_t bk_d"></div>
</div>
