亲爱的(<a href="mailto:<%= @resource.email %>" target="_blank"><%= @resource.email %></a>)，您好！
<br><br>您申请重置微奇迹账号密码，如非本人操作，请忽略此邮件。
<br><br>立即重置密码，<%= link_to '请点击这里', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
<br>如果上面的链接无法点击，您可以复制下面的地址，并粘帖到浏览器的地址栏中访问。
<br><%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
<br><br>祝您使用愉快！<br><br>--微奇迹
<br><br><font color="#999999">此邮件为系统自动发送，请勿回复。</font>
<br><font color="#999999">如果您在使用中遇到问题，请发邮件到<a href="mailto:admin@vqiji.com" target="_blank">admin@vqiji.com</a></font>
