<form action="<%= search_admin_users_path %>" method="get" class="form-inline" style="margin:0px;" >
  <input type="text" name="key" class="input-medium search-query"  placeholder="姓名、职位、员工号">
  <button type="submit" class="btn"><i class="icon-search"></i>搜索</button>
</form>