<div class="zs_ser">
  <form action="<%= search_knowledge_knowledges_path %>" method="get">
    <input placeholder="请输入关键词" name="keyword" type="text" value="<%= params[:keyword] %>" />
    <input type="submit" value="" />
  </form>
</div>