<!--[if lte IE 8]>
<div class="alert alert-old-brower">您正在使用过时浏览器！<a href="http://browsehappy.com/">现在就升级浏览器</a> 或者 <a href="http://www.google.com/chromeframe/?redirect=true">安装 Google Chrome Frame</a> 以获得更好的浏览体验和更高的安全性</div>
<![endif]-->
