<!--[if lte IE 8]>
  <div class="alert alert-old-brower">您正在使用不安全的浏览器！为了更好的使用云服务平台的所有功能，<a href="<%= asset_path 'ChromeStandaloneSetup.exe' %>" target="_blank" title="点击安装谷歌Chrome浏览器" data-skip-pjax>请安装谷歌Chrome浏览器</a></div>
<![endif]-->
